entrypoint = "server.ts"
#run = "npm run start"
run = "ng serve --host 0.0.0.0"
modules = ["angular-node-20"]

[nix]
channel = "stable-24_05"

[[ports]]
localPort = 4200
externalPort = 80

[deployment]
deploymentTarget = "cloudrun"
build = ["sh", "-c", "npm run build"]
run = ["sh", "-c", "npm run serve:ssr:my-angular-project"]
